{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="Vistagora" />
	
	<!-- OG -->
	<meta property="og:title" content="Vistagora" />
	<meta property="og:description" content="Vistagora" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'assets/images/favicon.ico" type="image/x-icon' %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>VISTAGORA</title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
	
	<!-- REVOLUTION SLIDER CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/navigation.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/dashboard.css' %}">
	<!-- REVOLUTION SLIDER END -->	
</head>
<body id="bg">
<div class="page-wraper">
<!--<div id="loading-icon-bx"></div>-->
	<!-- Header Top ==== -->
   <header class="header rs-nav header-transparent">

		<div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="{% url 'index' %}"><img src="{% static 'assets/images/logo-white.png' %}" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- Author Nav ==== -->
					<!-- Search Box ==== -->

					<!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
						</div>
                        <ul class="nav navbar-nav">	
							<li class="active"><a href="{% url 'index' %}"><p>Home</p></a></li>
							<li><a href="{% url 'contact'  %}"><p>Contact Us<p></a></li>
						</ul>
                    </div>
					<!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- header END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner" style="background-image:url({% static 'assets/images/bgp2.jpg' %});">
			 <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Audio Tracks</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li> <a >Audio</a></li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<div class="widget courses-search-bx placeani">
								<div class="form-group">

									<form action="" method="POST">
										{% csrf_token %}
										<div class="input-group">
											<label>Search Audio Track</label>
											<input name="dzName" type="text" required class="form-control">
										</div>
										<p></p>
										<button class="btn">Search</button>
									</form>

								</div>
							</div>

							<div class="widget">
								<a href="#"><img src="assets/images/adv/adv.jpg" alt=""/></a>
							</div>

						</div>
							<div class="col-lg-9 col-md-8 col-sm-12 bgsong admin-courses">
								<div  class="col-lg-12 m-b20">Click on an Audio File to Play</div>
									<div class="row">
										{% for row in keeprow%}
											<div class="col-md-6 col-lg-4 col-sm-6 m-b30">
												<div class="cours-bx">
													<div class="action-box">
														<div class="">
															<img src="{{row.cover_picture.url}}" alt="">
														</div>
														<a href="{% url 'search_course11' row.identification_code %}" class="btn">Play Song</a>
													</div>
													<div class="info-bx text-center">
														<h5><a href="#">{{row.title}}</a></h5>
														<h5><a href="#">ARTISTE: {{row.artiste}}</a></h5>
													</div>

												</div>
											</div>
										{% endfor %}
										<div  class="col-lg-12 m-b20">Click on an Audio File to Play</div>
										<div class="col-lg-12 m-b20">
											{% if enablepage %}
												<div class="pagination-bx rounded-sm gray clearfix">
													<ul class="pagination">
														{% if curr_page != 1 %}
															<li class="previous"><a href="{% url 'ppage' nmbr %}"><i class="ti-arrow-left"></i> Prev</a></li>
														{% endif %}
																	<li class="active givepad"><a href="#">{{curr_page}} </a></li>
																	<span><li > of {{pageno}}</a></li></span>
														{% if curr_page != pageno %}
															<li class="next givepad"><a href="{% url 'npage' nmbr %}">Next <i class="ti-arrow-right"></i></a></li>
														{% endif %}
													</ul>
												</div>
											{% endif %}
										</div>
									</div>
							</div>

					 	</div>
				</div>
            </div>
        </div>
		<!-- contact area END -->
		
    </div>
    <!-- Content END-->
	<!-- Footer ==== -->
    <footer>
        <div class="footer-top">


        </div>
    </footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>
<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>
</body>

</html>
