{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="VISTAGORA" />
	
	<!-- OG -->
	<meta property="og:title" content="VISTAGORA" />
	<meta property="og:description" content="VISTAGORA" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'assets/images/favicon.ico" type="image/x-icon' %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
	<!-- PAGE TITLE HERE ============================================= -->
	<title>VISTAGORA</title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
	<script src="{% static 'assets/js/respond.min.js' %}"></script>
	<![endif]-->
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
	
</head>
<body id="bg">
<div class="page-wraper">

    <!-- Header Top ==== -->
    <header class="header rs-nav">
		<div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->

					<!-- Author Nav ==== -->

					<!-- Search Box ==== -->
					<!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
						</div>
                        <ul class="nav navbar-nav">	
							<li class="active"><a href="{% url 'index' %}">Home </a></li>
						</ul>

						</div>
					<!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- header END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner" style="background-image:url({% static 'assets/images/no16.png' %});">
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li>Contact Us </li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
	
        <!-- inner page banner -->

        <div class="page-banner contact-page section-sp2">
            <div class="container">
                <div class="row">
					<div class="col-lg-5 col-md-5 m-b30">
						<div class="bg-primary text-white contact-info-bx ctob">
							<h2 class="m-b10 title-head">Contact <span>Information</span></h2>
							<p>Reach us through:</p>
							<div class="widget widget_getintuch">
								<ul>
									<li><i class="ti-location-pin"></i>Soundcraft Studio, KBK Plaza, 4, Tunji-Tope-Hill, Near Morgan Estate Phase 2, Ojodu, Lagos.</li>
									<li><i class="ti-mobile"></i>09027931880, 08054203031, 07084503060</li>
									<li><i class="ti-email"></i>soundcraftng@gmail.com</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-7 col-md-7">
						We are at KBK Plaza, near Morgan Estate Phase 2, Ojodu, Lagos. Call us now on 09027931880 or <a href="mailto:soundcraftng@gmail.com">CLICK HERE</a> to send a mail to soundcraftng@gmail.com. Let’s know your needs so we can guide you on the best way forward. We will be waiting for your call or your message.
						<br>
						Let your voice be heard.
						<p></p>
						<h6 class="notec">NOTE: To send an email message, you must have firstly signed into your email account on your device</h6>
					</div>
				</div>
            </div>
		</div>
        <!-- inner page banner END -->
    </div>
    <!-- Content END-->
    <!-- Footer ==== -->
    <footer>
        <div class="footer-top">

            <div class="container">
                <div class="row">
					<div class="col-12 col-lg-5 col-md-7 col-sm-12">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Company</h5>
									<ul>
										<li><a href="{% url 'index' %}">Home</a></li>
										<li><a href="{% url 'about' %}">About</a></li>
										<li><a href="{% url 'contact' %}">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END ==== -->
    <!-- scroll top button -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>
<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src='../../www.google.com/recaptcha/api.js'></script>
</body>


</html>
