{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="VISTAGORA" />
	
	<!-- OG -->
	<meta property="og:title" content="VISTAGORA" />
	<meta property="og:description" content="VISTAGORA" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'assets/images/favicon.ico" type="image/x-icon' %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>VISTAGORA</title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
	<script src="{% static 'assets/js/respond.min.js' %}"></script>
	<![endif]-->

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
	
</head>
<body id="bg">
<div class="page-wraper">
    <!-- Header Top ==== -->
    <header class="header rs-nav">
		<div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png'%}" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->

					<!-- Author Nav ==== -->
					<!-- Search Box ==== -->
                    <div class="nav-search-bar">
                        <form action="#">
                            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                            <span><i class="ti-search"></i></span>
                        </form>
						<span id="search-remove"><i class="ti-close"></i></span>
                    </div>
					<!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png'%}" alt=""></a>
						</div>
                        <ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'index'  %}">Home</a>
							</li>
						</ul>
					</div>

					<!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- header END ==== -->
    <!-- Inner Content Box ==== -->
    <div class="page-content bg-white">
        <!-- Page Heading Box ==== -->
        <div class="page-banner" style="background-image:url({% static 'assets/images/no12.png' %});">

        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li>News and Articles</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
        <!-- Page Content Box ==== -->
		<div class="content-block ">
            <!-- About Us ==== -->

			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						 <div>
							 <h2 class="title-head givepad">NEWS AND ARTICLES<br/> <span class="text-primary">How to find a record Label?</span></h2>
							 <div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="{% static 'assets/images/no14.png' %}" alt=""/></a>
										</div>
									</div>
								</div>

							</div>
						</div>
                          <div>
							<p class="givepad">
								You obviously know some popular record label companies and you have probably have thought about approaching them to sign you. Yes you do great songs, you have even recorded a few tracks and you believe anyone who has good music ears should appreciate your music, so you should have no problem with record label falling in love with your music and sign you. Well, I am sorry to state this; things don’t work like that in music business.
							  <p class="givepad">You don’t find record label companies, they instead find you. Yes, you can try and be lucky to find one, but the owners of record labels think that if you are good enough, you should have done a bit of your homework and be making waves, no matter how little, somewhere. They feel that even if you are not a big star yet, you should be at least noticeable somehow. They prefer to stumble on your music either on social media, online, on radio or on TV and some people must have been talking about you. But if they don’t see any of that, why should they invest in you?</p>
							  <p class="givepad">The fact is, the owners of record labels are business people, the company is a business entity not a charity organization, so if they must sign you, they must see the prospect of getting returns on investment and the only assurance they have is the effort you have made or you are making and the numbers you are getting with your personal promotional effort. It’s the information they get from your promotional activities they will use to make projections on how profitable their investment on you will be in the long run.</p>
							  <p class="givepad">So, everything starts with you. How much productive effort are you putting into promoting yourself? I know you don’t have big money to push yourself, but the little money you have is enough to do something. If you can buy data, then you have just enough money to give yourself a little push that could result into something big for you. You can make that simple video on your phone, upload with a hundred naira worth of data, the video may go viral and record label starts to run after you.</p>
							  <p class="givepad">Furthermore, you can call in on music shows on TV and radio, sing your song for them or offer to record a promotional track for their show. This can get the journalists to look at your direction and call you for an interview among the competing multitude of musicians pressuring them for air time.</p>
							  <p class="givepad">In addition, you can organise a small concert in your neighbourhood. Call your friends and let them come and enjoy themselves listening to your music. It can be a monthly thing, it can be quarterly or target holidays depending on your budget. You can as well volunteer to sing at events for free or visit the less-privileged, orphanages, prisons or hospitals to perform your songs. Doing these will catch media attention and may come to cover your performances.</p>
							  <p class="givepad">However, as you do all of the above mentioned initiatives, don’t forget to film yourself. An action speaks more than a thousand words and that’s why videos go viral. People relate with what they see more than what they hear. Whatever you are doing with music, whether it’s a studio session, a rehearsal, even if you are composing and you have the time to film, please do. If you don’t have money for a big camera, your phone camera also works wonders, it will serve you well.</p>
							  <p class="givepad">Summarily, finding a record label company is all about making the company find you. So, start to push yourself in your own little way.</p>
							</p>
						 </div>
						 <div>
							 <p ><h2 class="title-head givepad "> <span class="text-primary">Are Record Companies Greedy?</span><span><article>20-11-2020</article></span></h2></p>
							 <div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="{% static 'assets/images/no13.png' %}" alt=""/></a>
										</div>
									</div>
								</div>

							</div>
						</div>
						 <div>
							<p class="givepad">
								We have heard about the issues surrounding some artistes and the record labels they are signed to. In recent times, Kizz Daniel, Cynthia Morgan, Braimoh and their fights with the record labels come to mind. Recently, Kanye West called out record labels and accused them of ripping off artistes. Though we are not privy to the contracts they signed with the companies, it is very important to lay bare issues in the music industry without sentiment and let everyone see the reality of things. This will make us understand the issues better and guide artistes in knowing what agreement or contract they are entering into.
								Record label companies are business entities, they want to make money and maximize profit. This is not an endeavour in defence of record labels, it’s just about stating the facts and learn one or two lessons. The owner of a record label wants to make money, that’s why the company exists. It’s not a charity organization, they want to make profit and they will do their best to achieve that. It’s now left to an artiste to decide how much he or she wants the record label to make through him or her.
								Just as in any business bargain, the value of a commodity or service, the degree of a need, the urgency to meet the need, the knowledge of those involved, the status of the stakeholders all play vital roles in if and how an agreement will be reached and a transaction will finally be made or business contract signed. Likewise, as an artiste you need to go into contract talks as a business person with the mind of seeking to maximize profit and do what is best for you. At this point you need a good lawyer to interpret all the terms and conditions of the contract to you, so you can know what you are going into and the impact it will have on you in the long run.
								However, for the purpose of understanding, we also need to know what it takes record label companies to promote an artiste and push him or her to limelight. Business is easy for a record label if an artiste is already famous; there is a ready market, the company only sustains the popularity of the artiste and makes sure it doesn’t dwindle. In this case, the artiste is in a position of strength and can bargain favourably for higher compensation and it’s almost a win-win for the two parties.
								Conversely, the case is different if an artiste is up and coming. If the record label will pay for your studio sessions, pay your producer, brand you, costume you, buy you a car, promote your songs on TVs and radios, house you, furnish the house, feed you, buy your toiletries, pay for your utilities, sponsor your trips and tours and so on, then you should know that the company will want to recoup its money and this will come from the money your music makes.
								Remember that in running a business, you first deduct the amount it takes to produce a product and the amount to get it to the market from sales made, whatever remains is the profit. So, what is shared among stakeholders including you is that profit because the cost price is used to pay for one thing or the other to produce that commodity and get it to the market.
								In the case of a record label company, depending on the level of investment made on you, the company will first remove the cost of everything spent on you from the money you make, then you and the company will now share the profit. And don’t forget that record labels here in Nigeria don’t make much money from album sale or song download, piracy and copyright violations have killed that prospect, so all they have left is the money your music makes through other means such as shows and endorsements.
								So, before you sign a contract, think about the two business sides, yours and the company’s side. Also think of it, what if they spend all the money and the artiste flops and fails to ‘blow’, how will they get their money back? These are the few things an artiste needs to consider.
								Nevertheless, your entire life shouldn’t be funded by a record label. Do all you can to position yourself for a better bargain by being independent to some certain level, so you don’t rely solely on the record label for basic necessities of life. Also, keep promoting yourself and gain some momentum before a record label spots you, this will give you an edge when it comes to discussing contract terms.
								Nowadays, artistes are doing it all alone because the market has been decentralized due to free access to digital media. If you don’t have the money to promote yourself extensively you can at least give yourself a push on social media so you can stand a chance to bargain from a position of strength if a record label eventually calls you. And if you must sign that contract, seek the help of a lawyer.
						 </div>
					</div>
				</div>
            </div>

			<!-- About Us END ==== -->
			<!-- Why Choose ==== -->

			<!-- Company Stats END ==== -->
			<!-- Our Story ==== -->

        </div>
		<!-- Page Content Box END ==== -->
    </div>
	<!-- Page Content Box END ==== -->
	<!-- Footer ==== -->
    <footer>
        <div class="footer-top">

            <div class="container">
                <div class="row">
					<div class="col-12 col-lg-5 col-md-7 col-sm-12">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Company</h5>
									<ul>
										<li><a href="{% url 'index' %}">Home</a></li>
										<li><a href="{% url 'about' %}">About</a></li>
										<li><a href="{% url 'contact'  %}">Message/Contact us</a></li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>
<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>
</body>

</html>
