{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />

	<!-- DESCRIPTION -->
	<meta name="description" content="Vistagora" />

	<!-- OG -->
	<meta property="og:title" content="Vistagora" />
	<meta property="og:description" content="Vistagora" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="../error-404.html" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />

	<!-- PAGE TITLE HERE ============================================= -->
	<title>VISTAGORA</title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale= 1">

	<!--[if lt IE 9]>
	<script src="{% static 'admin/assets/js/html5shiv.min.js' %}"></script>
	<script src="{% static 'admin/assets/js/respond.min.js' %}"></script>
	<![endif]-->

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/assets.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/vendors/calendar/fullcalendar.css' %}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/typography.css' %}">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/shortcodes/shortcodes.css' %}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/dashboard.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/color/color-1.css' %}">

</head>


<body class="ttr-opened-sidebar ttr-pinned-sidebar">
	<!-- header start -->
	<header class="ttr-header">
		<div class="ttr-header-wrapper">
			<!--sidebar menu toggler start -->
			<div class="ttr-toggle-sidebar ttr-material-button">
				<i class="ti-close ttr-open-icon"></i>
				<i class="ti-menu ttr-close-icon"></i>
			</div>
			<!--sidebar menu toggler end -->
			<!--logo start -->
			<div class="ttr-logo-box">
				<div>
					<a href="{% url 'index' %}" class="ttr-logo">
						<img class="ttr-logo-mobile" alt="" src="{% static 'admin/assets/images/logo.png' %}" width="30" height="30">
						<img class="ttr-logo-desktop" alt="" src="{% static 'admin/assets/images/logo-white.png' %}" width="160" height="27">
					</a>
				</div>
			</div>
			<!--logo end -->
			<div>
				<!-- header left menu start -->

				<!-- header left menu end -->
			</div>

			<div class="ttr-header-right ttr-with-seperator">
				<!-- header right menu start -->
				<ul class="ttr-header-navigation">
					<li>
						<a href="#" class="ttr-material-button ttr-search-toggle"><i class="fa fa-search"> Search Video</i></a>
					</li>
				</ul>
				<!-- header right menu end -->
			</div>

			<div class="ttr-search-bar">
				<form action="{% url 'search_course111' tok %}" method="POST" class="ttr-search-form">
					{% csrf_token %}
					<div class="ttr-search-input-wrapper">
						<input type="text" name="qq" required placeholder="search something..." class="ttr-search-input">
						<button type="submit" name="search" class="ttr-search-submit"><i class="ti-arrow-right"></i></button>
					</div>
					<span class="ttr-search-close ttr-search-toggle">
						<i class="ti-close"></i>
					</span>
				</form>
			</div>

			<!--header search panel start -->
		</div>
	</header>
	<!-- header end -->
	<!-- Left sidebar menu start -->
	<!--Main container start -->
	<h6 class="ttr-wrapper">
		<h2></h2>
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Please search accurately with respect to spaces</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="{% url 'index' %}"><i class="fa fa-home"></i>Go Back Home</a></li>
				</ul>
			</div>
		</div>

	</h6>

	<div>
		{% if got2 %}
			{% for i in got %}
				{% if i.identification_code in got2 %}
					<ul>
						<div>
							<div class="card-courses-full-dec givepad">
								<div class="card-courses-title">
									<div class="pushmid">
										<video  class="pushmid" width= "100%" height="300" controls controlsList="nodownload" loop autoplay="true" preload="auto">
											<source src="{{i.video_file.url}}" type=" video/mp4" >
											Your browser does not support the Video tag
										</video>
									</div>
									<h4><span><h5 class="text-primary bgsong">TITLE: {{i.title}}</h5></span></h4>
									<h4><span><h5 class="text-primary">ARTISTE: {{i.artiste}}</h5></span></h4>
								</div>

								<div class="row card-courses-dec">
									<div class="col-md-12">
										<h4><span><h5 class="text-primary">DESCRIPTION <p>{{i.description}}</p></h5></span></h4>
									</div>
								</div>


							</div>
						</div>
					</ul>
				{% endif %}
			{% endfor%}
		{% endif %}

		{% if ck %}
					<ul>
						<div>
							<div class="card-courses-full-dec givepad">
								<div class="card-courses-title">
									<div class="pushmid">
										<video  class="pushmid" width= "100%" height="300" controls controlsList="nodownload" autoplay loop>
											<source src="{{got.video_file.url}}" type=" video/mp4" >
											Your browser does not support the Video tag
										</video>
									</div>
									<h4><span><h5 class="text-primary bgsong">TITLE: {{got.title}}</h5></span></h4>
									<h4><span><h5 class="text-primary">ARTISTE: {{got.artiste}}</h5></span></h4>
								</div>

								<div class="row card-courses-dec">
									<div class="col-md-12">
										<h4><span><h5 class="text-primary">DESCRIPTION <p>{{got.description}}</p></h5></span></h4>
									</div>
								</div>


							</div>
						</div>
					</ul>

		{% else %}
			{% if not got2 %}
				<h4 class="center">No Result Found</h4>
			{% endif %}
		{% endif %}

	</div>
	<div class="ttr-overlay"></div>

<!-- External JavaScripts -->
<script src="{% static 'admin/assets/js/jquery.min.js'%}"></script>
<script src="{% static 'admin/assets/vendors/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'admin/assets/vendors/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'admin/assets/vendors/bootstrap-select/bootstrap-select.min.js'%}"></script>
<script src="{% static 'admin/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js'%}"></script>
<script src="{% static 'admin/assets/vendors/magnific-popup/magnific-popup.js'%}"></script>
<script src="{% static 'admin/assets/vendors/counter/waypoints-min.js'%}"></script>
<script src="{% static 'admin/assets/vendors/counter/counterup.min.js'%}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js'%}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js'%}"></script>
<script src="{% static 'admin/assets/vendors/masonry/filter.js'%}"></script>
<script src="{% static 'admin/assets/vendors/owl-carousel/owl.carousel.js'%}"></script>
<script src="{% static 'admin/assets/vendors/scroll/scrollbar.min.js'%}"></script>
<script src="{% static 'admin/assets/js/functions.js'%}"></script>
<script src="{% static 'admin/assets/vendors/chart/chart.min.js'%}"></script>
<script src="{% static 'admin/assets/js/admin.js'%}"></script>
<script src="{% static 'admin/assets/vendors/calendar/moment.min.js'%}"></script>
<script src="{% static 'admin/assets/vendors/calendar/fullcalendar.js'%}"></script>


<script>
  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      defaultDate: '2019-03-12',
      navLinks: true, // can click day/week names to navigate views

      weekNumbers: true,
      weekNumbersWithinDays: true,
      weekNumberCalculation: 'ISO',

      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2019-03-01'
        },
        {
          title: 'Long Event',
          start: '2019-03-07',
          end: '2019-03-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2019-03-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2019-03-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2019-03-11',
          end: '2019-03-13'
        },
        {
          title: 'Meeting',
          start: '2019-03-12T10:30:00',
          end: '2019-03-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2019-03-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2019-03-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2019-03-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2019-03-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2019-03-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2019-03-28'
        }
      ]
    });

  });

</script>
</body>
</html>